:root {
    --main_overall_color_primary: #3e3e3d;
    --main_overall_color_secundary: #ee0613;
    --main_overall_color_tertiary: #ffffff;
    --main_overall_color_queternary: #131313;
    --main_overall_color_quinary: #131313de;
    --main_overall_color_sextuple: #ffffffb4;
}

@font-face {
    font-family: 'mainText';
    src: url('../../assets/fonts/Parkinsans-Medium.ttf');
}

.application_global_header_container_img_essence {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -10;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.application_global_background_element_essence {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: grayscale(90%) brightness(0.7) contrast(1.0); */
}

.application_global_img_element_overlay_essence {
    position: absolute;
    height: 100vh;
    inset: 0;
    background: rgba(34, 34, 34, 0.37);
    z-index: 1;
}

.hero_text_container_text_left_essence {
   font-family: 'mainText';
    justify-content: center;
    z-index: 10;
    max-width: 100%;
    text-align: center;
    margin-top: 15vh;
    color: var(--main_overall_color_tertiary);
    padding: 3px 3px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.hero_text_container_text_left_essence.is-visible {
    opacity: 1;
    transform: translateY(0);
}


.hero_title_fixed_height_wrapper_essence {
    min-height: calc(3.0rem * 1.4);
    display: flex;
    justify-content: flex-start;
}

.fade_text_essence {
    max-width: 50vw;
    margin: 0;
    padding-left: 50px;
    text-align: left;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.15;
    color: var(--main_overall_color_tertiary);
    text-wrap: balance;
    transition: opacity 0.8s ease-out;
}



@media (max-width: 1024px) {

    .hero_text_container_text_left_essence {
        margin-top: 28vh;
        padding: 0 40px;
    }

    .fade_text_essence {
        max-width: 65%;
        padding-left: 30px;
        font-size: 3.2rem;
        line-height: 1.2;
    }

}


@media (max-width: 768px) {

    .application_global_header_container_img_essence,
    .application_global_img_element_overlay_essence {
        height: 100vh;
    }

    .hero_text_container_text_left_essence {
        margin-top: 32vh;
        padding: 0 24px;
        text-align: center;
    }

    .hero_title_fixed_height_wrapper_essence {
        justify-content: center;
    }

    .fade_text_essence {
        max-width: 100%;
        padding-left: 0;
        text-align: center;
        font-size: 2.4rem;
        line-height: 1.25;
    }

}


@media (max-width: 390px) {

    .hero_text_container_text_left_essence {
        margin-top: 34vh;
        padding: 0 18px;
    }

    .fade_text_essence {
        font-size: 1.9rem;
        line-height: 1.3;
    }

}