:root {
    --main_overall_color_primary: #3e3e3d;
    --main_overall_color_secundary: #ee0613;
    --main_overall_color_tertiary: #ffffff;
    --main_overall_color_queternary: #131313;
    --main_overall_color_quinary: #131313de;
    --main_overall_color_sextuple: #ffffffb4;
}

@font-face {
    font-family: 'mainText';
    src: url('../../assets/fonts/Parkinsans-Medium.ttf');
}

.application_global_header_container_img_approach {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    z-index: -10;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.application_global_background_element_approach {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: grayscale(90%) brightness(0.5) contrast(1.0); */
    filter: brightness(0.5) contrast(1.2);
}

.application_global_img_element_overlay_approach {
    position: absolute;
    height: 80vh;
    inset: 0;
    background: rgba(34, 34, 34, 0.37);
    z-index: 1;
}

.hero_text_container_text_left_approach {
    font-family: 'mainText';
    justify-content: center;
    z-index: 10;
    max-width: 100%;
    text-align: center;
    margin-top: 150px;
    color: var(--main_overall_color_tertiary);
    padding: 3px 3px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.hero_text_container_text_left_approach.is-visible{
    opacity: 1;
    transform: translateY(0);
}


.hero_title_fixed_height_wrapper_approach {
    min-height: calc(3.0rem * 1.4);
    align-items: center;
}

.fade_text_approach {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1.15;
    color: var(--main_overall_color_tertiary);
    text-wrap: balance;
    transition: opacity 0.8s ease-out;
}

